#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* generales */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 600px;
  background: #fff;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 100;
  margin-bottom: 3px;
  display: block;
  color: #575757;
}

input[type="time"], input[type="text"]{
  width: 80%;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  color-scheme: light;
}

input[type="time"]:focus, input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #66b2ff;
  transform: scale(1.05);
}

button:disabled {
  background-color: #a0c5f5;
  cursor: not-allowed;
}

a {
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: #d9534f;
  font-size: 13px;
  margin-top: 4px;
}

.responsive-container {
  display: flex;
  gap: 5em;
  align-items: flex-start;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .responsive-container {
    flex-direction: column;
  }
}

/* conceptos */
.concept-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.concept-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 15px;
}

.text-red {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}
.text-red:hover {
  color: red;
}


/* paginacion */
.pagination {
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

.pagination li {
  border: 1px solid #8c8c8c;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  color: #8c8c8c;
  font-size: 14px;
}

.pagination li:hover {
  background-color: #f1f1f1;
}

.pagination .active {
  background-color: #fff;
  color: white;
}
